@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #f8f400;
}

.btn{
    background-color: blueviolet;
    border-radius: 7px;
    border-style: none;
    width: 160px;
    height: 40px;
}

.btn-letter{
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
}

.btn-1{
    background-color: white;
    border-radius: 7px;
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 45px;
    margin-top: 40px;
}

.btn-letter1{
    font-size: 15px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
}

.ml{
    background-color: white;
    height: 286px;
    width: 183px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
    border-radius: 7px;
    margin-top: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.120);
}

.ml-letter{
    font-weight: 400;
    font-size: 15.5px;
    margin: 17px 0 0 18px;
}

.img{
    width: 105px;
    margin-left: 35px;
    margin-top: 15px;
    cursor: pointer;
}

.ml-letter1{
    font-size: 13px;
    margin-left: 26px;
    margin-top: 10px;
    cursor: pointer;
}

.ml-letter2{
    margin-top: 45px;
    margin-left: 15px;
    
}

.ml-letter2 button{
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #3483fa;
    background-color: rgb(155, 208, 226) transparent;
    border-color: transparent;
    border-style: none;
    border-radius: 4px;
    width: 151px;
    height: 24px;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}