
:root{
    --text-color: #1d1e20;
    --soft-text-color: #6d7081;
    --gray-border: #dad9da;
    --color-background-chat-hover: #f2f3f6;
    --hostinger-color: #673de6;
    --hostinger-color-hover: #5f3dd8;
}