@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    gap: 40px;
}




.principal-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 246px;
}

.box-pallets{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.box-color-1{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 104px;
    background-color: #640d5f;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.box-color-2{
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 65px;
    background-color: #d91656;
}

.box-color-3{
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 44px;
    background-color: #ee66a6;
}

.box-color-4{
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 37px;
    background-color: #ffeb55;
    border-radius: 0 0 10px 10px;
}

.btn-like{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    cursor: pointer;
    width: 246px;
    background-color: aqua;
}

.btn-like-heart i{
    fill: none;
    stroke: #000;
    margin-right: 4px;
}

.btn-like-heart:hover {
    background-color: #f5f5f5;
    transition: all .2s;
}

.border-like{
    display: flex;
    align-items: center;
    width: 83px;
    height: 38px;
    border: 1px solid  #cecece;
    border-radius: 10px;
   
}


.btn-like span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    opacity: 0.7;
}


.letter-pallet{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.39);
    position: relative;
}