main{
    background-color: bisque;
    height: 400vh;
    margin-top: 100px;
    padding: 20px 40px;
}


.img-container{
    width: 400px;
    height: 800px;
    background-color: white;
}

.img-container img{
    width: 200px;
    position: sticky;
    top: 120px;
    z-index: 2;
}